management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    logger:
      show-details: always
  info:
    env:
      enable: true